html{
    font-family:Sans-serif;
}
body{
    margin: 0 auto;
}
.container{
    width: 1024px;
    margin: 0 auto;
}

header{
    background-image: url(img/jumbo.png);
    min-height: 420px;
    background-position: center;
    background-size: cover;
}
nav{
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
nav>img{
    height: 70%;
    display: inline-block;
    float: left;
    position: absolute;
    top: 5px;
}
.nav_list{
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%, -50%);
}
.nav_list>li{
    float: left;
    margin-right: 30px;
    list-style: none;
    color: white;
    font-size: 14px;

}
.nav_list a{
    text-decoration: none;
    color: white;
}

.clearfix{
    content: '';
    display: block;
    clear: both;
}
#nav_button{
    float: left;
    position: absolute;
    right: 0;
    top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}
.header_section{
    width: 50%;
    margin: 0 auto;
}
.header_section>h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.header_section>p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.buttons-header{
    position: relative;
    width: 90%;
    height: 75px;
    margin: 0 auto;
}
#col_button_1{
    width: 50%;
    height: 100%;
    float: left;
}
#col_button_2{
    width: 50%;
    height: 100%;
    float: left;
}
#mac-button{
    color: black;
    background-color: white;
    font-size: 20px;
    border-style: none;
    border-radius: 40px;
    margin-right: 10px;
    height: 80%;
    width: 100%;
}
#browser-button{
    color: white;
    background-color: rgb(31, 31, 31);
    font-size: 20px;
    border-style: none;
    border-radius: 40px;
    margin-left: 10px;
    height: 80%;
    width: 100%;
}
.row_a{
    height: 380px;
    width: 100%;
    position: relative;
    margin-bottom: 150px;
    margin-top: 50px;
}
.col1{
    width: 60%;
    height: 100%;
    float: left;
}
.col2{
    width: 40%;
    height: 100%;
    float: left;
}
.col_img{
    width: 100%;
    height: 100%;
}
.col_title{
    font-size: 30px;
}
.col_text{
    font-size: 15px;
}
.col_text_container{
    width: 100%;
    padding-top: 20%;
    object-position: center;
}
.row_b{
    height: 450px;
    width: 90%;
    position: relative;
    margin-top: 50px;
}
.row_title{
    font-size: 30px;
    text-align: center;
}
.row_text{
    font-size: 15px;
    text-align: center;
}
.row_b>img{
    height: 100%;
    width: 100%;
}
.decorated-text{
    display: block;
    position: relative;
    height: 80px;
}
.decorated-text img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.decorated-text h3{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 25px;
}
.row_b button{
    color: white;
    background-color: rgb(96, 0, 221);
    font-size: 15px;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    margin-top: 20px;
    float: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#footer_row{
    min-height: 450px;
    width: 100%;
    position: relative;
    background-color: rgb(26, 26, 26);
}
.footer_col_1{
    width: 30%;
    height: 100%;
    float: left;
}
.footer_col_2{
    width: 15%;
    height: 100%;
    float: left;
}